@model DictionaryOfWords.Web.Models.AddMultiModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddALot</h1>

<h4>AddMultiModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddALot" method="post" name="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEnd" /> @Html.DisplayNameFor(model => model.IsEnd)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" id="textIn" ></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="container">
    <h1>ASP.NET</h1>
    <p class="lead">SignalR ProcessBar Simple Example</p>
    <button onclick="StartProcess()" type="button" class="btn btn-primary btn-success">Start the process</button>

</div>

<div id="greyProgress">
    <div id="greenBar">10%</div>
</div>
<br>
<button onclick="move()">Пуск</button>

<script src="~/js/signalr.min.js"></script>

