@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p>
    Приветствую Вас на демо приложение  в данном проекте можно:
</p>

<ol>
    <li>Админом:</li>
    <ul>
        <li>
            Модификацию языков
        </li>
        <li>
            Модификацию слов
        </li>
        <li>
            Модификацию переводов
        </li>
        <li>
            Доступен фильтрацией
        </li>
    </ul>
    <li>Пользователь может смотреть переводы слов</li>
</ol>

<p>Доступ в систему</p>
<ul>
    <li>
        Администратор admin пароль 123456
    </li>
    <li>
        Пользователь user пароль 123456
    </li>
</ul>

<p>жмите</p>
<img src="~/img/Access.jpg" />