@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p>
    Приветствую Вас администратор
</p>

<p>
    Вы можете модифицировать данные. Удаление реализовал через общую форму и также мульти (не одну а можно несколько) нужно выделить галочкой
</p>
<img src="~/img/Line.jpg" />
<p>
    Также доступен фильтр, очень важно реализован порционный вывод данных на страницу, а именно по 20 за раз 
</p>
<img src="~/img/Filter.jpg" />
<p>
    Доступно мульти загрузка данных
</p>
<img src="~/img/MultiLoad.jpg" />
<p>
    Для Вас подготовил файлы:
</p>
<ul>
    <li>Engish To Russian 100 word.txt</li>
    <li>Russian To Spanish 15 words.txt</li>
    <li>Spanish To English 15 words.txt</li>
</ul>
<p>
    Почему w: или s:? Так я разделил слово от звука, почему через пробел, потому что значок : ознначает долгий звук у некоторых поэтому добавил пробел
</p>
<p>
    А  так выглядит типичная форма 
</p>
<img src="~/img/WordTranlator.jpg" />
